APP_NAME=example             # Name of Application
PORT=3000                # Port of Application Server

DB_HOST=localhost            # Database Host Name or Ip
DB_PORT=3306                 # Port of Database Server
DB_DATABASE=example          # Database Name
DB_USERNAME=example          # Database Username
DB_PASSWORD=example          # Database Password

SESSION_SECRET=example       # Session Secret Phrase


REDIS_HOST=localhost         # Hostname or Ip of Redis IO Server
REDIS_PORT=6379              # Port of Redis IO Server
REDIS_PASSWORD=example       # Redis IO Password

ETHEREAL_USER=example@ethereal.email  # Ethereal user name 
ETHEREAL_PASSWD=example               # Ethereal password

ENCRYPT_KEY=3zTvzr3p67VC61jmV54rIYu1545x4TlY  # Encrypt Key
ENCRYPT_IV=60iP0h6vJoEa                       # Encrypt Iv 