.top-nav-collapse {
  background-color: #499542 !important;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #459542 !important;
  }
}

h6 {
  line-height: 1.7;
}

@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.navbar-inner {
  min-height: 0px;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 70px;
  height: 70px;
  padding-top: 0;
}

.navbar-brand img {
  margin: 6px;
}

.navbar {
  font-weight: 300;
  padding-right: 1rem !important;
  background-color: #4CAF50 !important;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff !important;
  text-decoration: none;
  background-color: #bfbfc46c;
}

.content {
  margin: 140px 0 0 0;
}