/* Your custom styles */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem .5rem;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
}

.navbar .dropdown-menu a {
  font-size: .9375rem;
  font-weight: 300;
  padding: 0px 10px;
  color: #000 !important;
}

.navbar .dropdown-menu a:hover {
  color: rgb(139, 104, 104) !important;
}

.team-title {
  width: 170px !important;
  line-height: 35px;
}