<nav class="navbar-home navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
        <div class="navbar-brand">
            <img src="/img/logo.png" height="30" alt="Futiba Club">
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
            <!-- menu items -->
            <% include menu-items %>
        </div>
    </div>
</nav>
